
<p>{{ServerAlert}}</p>

<hr>

<button class="btn btn-primary"
        (click)="onServerTxt()">
  Chack Server Status
</button>

<hr>

<p>{{ServerTxt}}</p>



<!--<h3>eek esi duuniya jo hamare hote hue bhi hamari nahi he,-->
<!--  eek darwaza jo khulta he hamari kalpna shakti ki chabi se jiske piche ked he kayi aawaze,-->
<!--  awaze jinhe aagae zyada der tak mon rakho to uuski khamoshi chilkhne lagti he ,-->
<!--  awaze jo sirf sunai nahi deti dikhai bhi deti he,-->
<!--  wo kahelati he.</h3>-->
